<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Editar Aluno</title></head>

</head>
<body>
<div align="center">
    <h1>Editar Aluno</h1>
    <br/>
    <form action="#" th:action="@{/saveAluno}" th:object="${aluno}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Matricula:</td>
                <td>
                    <input type="text" th:field="*{matricula}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>Cpf:</td>
                <td><input type="text" th:field="*{cpf}"/></td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td><input type="text" th:field="*{nome}"/></td>
            </tr>
            <tr>
                <td>Sexo:</td>
                <td><select th:field="*{sexo}" />
                    <option th:value=null>Selecione uma opção</option>
                    <option th:value="'M'" th:text="Masculino"></option>
                    <option th:value="'F'" th:text="Feminino"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Idade:</td>
                <td><input type="text" th:field="*{idade}"/></td>
            </tr>
            <tr>
                <td>Escolaridade:</td>
                <td><input type="text" th:field="*{escolaridade}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>